@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@config "../tailwind.config.mjs";

.light {
  --base: #ffffff;
  --blockquote-border: #c7ccd2ff;
  --blockquote-text: #727d90ff;
  --code-bg: #f5f5f5ff;
  --code-border: #d4d4d4ff;
}

.dark {
  --base: #000000;
  --blockquote-border: #71757aff;
  --blockquote-text: #989fa7ff;
  --code-bg: #2b2b2bff;
  --code-border: #3c3c3cff;
}

.dark {
  --color-fd-primary: #a5f84cff;
}

.light {
  --color-fd-primary: #5fb700ff;
}

.changelog-scroll::-webkit-scrollbar {
  width: 4px;
  background: linear-gradient(to bottom, #1d1d1dff 0%, #000000ff 100%);
}

.changelog-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.changelog-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.fd-steps {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.fd-steps .fd-steps {
  counter-reset: step lower-roman;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.fd-steps .fd-steps .fd-step::before {
  content: counter(step, lower-roman) '.';
}

.fd-step::before {
  height: 1.7rem;
  width: 1.7rem;
  inset-inline-start: -0.75rem;
}

a[data-active='false'].relative.flex.flex-row.items-center.gap-2.rounded-lg.p-2,
a[data-active='true'].relative.flex.flex-row.items-center.gap-2.rounded-lg.p-2 {
  margin-top: 3px;
  margin-bottom: 3px;
}

button[aria-label='Copy Link'] {
  cursor: pointer;
}

.markdown-body p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 2;
}

.markdown-body code {
  background-color: var(--code-bg);
  padding: 1px 3px;
  border-radius: 4px;
  font-family: 'Source Code Pro', monospace;
  border: 1px solid var(--code-border);
}

.markdown-body blockquote {
  border-left: 2px solid var(--blockquote-border);
  color: var(--blockquote-text);
  line-height: 2;
  font-style: italic;
  font-size: 14px;
}

.markdown-body blockquote p::before {
  content: '';
}

.markdown-body ul {
  padding-left: 1.5em;
  list-style-type: disc;
  margin-top: 0.5rem;
}

.markdown-body ol {
  padding-left: 1.5em;
  list-style-type: decimal;
  margin-top: 0.5rem;
}
