@import 'tailwindcss';
@config "../tailwind.config.mjs";

a {
  text-decoration: none;
}

ul {
  margin-top: 0;
}

ol {
  margin-top: 0;
}

sub {
  bottom: 0.5em;
}

main a {
  font-weight: 700;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section-padding {
  padding: 5rem 0;
}

details h3 {
  user-select: text;
}

.▶ {
  position: absolute;
  top: 0px;
  right: 0px;
  min-width: 300px;
  min-height: 250px;
}
