.markdown {
  background-color: transparent !important;
  color: white !important;
}

.markdown .markdown-body {
  background-color: transparent !important;
  background: inherit;
  color: inherit !important;
  font-size: inherit !important;
  font-family: inherit !important;
  line-height: inherit !important;
}

.markdown .markdown-body pre code {
  white-space: pre-wrap !important;
  /* line-break: anywhere !important; */
  overflow-wrap: break-word !important;
}

.markdown a {
  color: #4d70fc;
  text-decoration: underline;
}

.markdown a:hover {
  color: #476bf8ff;
}

.markdown img:hover {
  opacity: 0.9;
}

.markdown p {
  margin-top: 4px !important;
  margin-bottom: 12px !important;
  white-space: break-spaces;
  word-wrap: break-word;
}

.markdown ul {
  list-style-position: inside;
  counter-reset: list-counter;
  list-style: disc;
}

.markdown ol {
  list-style-position: inside;
  counter-reset: list-counter;
  list-style: decimal;
}

.markdown li ul {
  list-style-type: circle;
}

.markdown li ul ul,
.markdown li ol ul {
  list-style-type: square;
}

.markdown pre {
  background-color: #232323ff !important;
  padding: 0.5rem 0.4rem !important;
  border: 1px solid #313131ff !important;
  border-radius: 0.2rem !important;
  font-size: 0.95em !important;
  max-width: 70%;
}

.markdown pre code {
  font-family: 'Fira Code', monospace !important;
  font-size: 0.7rem !important;
  margin-bottom: 10px !important;
}

.markdown code:not(pre code) {
  background-color: #232323ff !important;
  border: 1px solid #313131ff !important;
  font-family: 'Fira Code', monospace !important;
  font-size: 0.7rem !important;
}
