.chatContainer :global(.str-chat.str-chat__theme-light) {
    --str-chat__background-color: #fafafa;
    --input-wrapper: #ffffff;
    --input-background: #f7f7f7;
    --input-border: #00000015;
    --placeholder-color: #000000;
}

.chatContainer :global(.str-chat.str-chat__theme-dark) {
    --str-chat__background-color: #101010;
    --input-wrapper: #141414;
    --input-background: #181818;
    --input-border: #ffffff15;
    --placeholder-color: #ffffff;
}

.chatContainer :global(.str-chat__message-list-main-panel):focus-visible {
    outline: none !important;
}

.chatContainer :global(.str-chat__list):focus-visible {
    outline: none !important;
}

.chatContainer :global(.str-chat__message-list-scroll) {
    padding: 0 !important;
}

.chatContainer :global(.str-chat__list-notifications) {
    display: none !important;
}

.chatContainer :global(.str-chat__message-input) {
    background-color: #00000000;
    padding-block: 10px !important;
}

.chatContainer :global(.str-chat__message-textarea-container) {
    border-color: var(--input-border) !important;
    border-radius: 4px !important;
    background-color: var(--input-background) !important;
}

.chatContainer :global(.str-chat__message-textarea) {
    font-size: 12px !important;
    overflow: visible;
}

.chatContainer :global(.str-chat__message-textarea) {
    font-size: 12px !important;
}

.chatContainer :global(.str-chat__message-textarea::placeholder) {
    color: var(--placeholder-color) !important;
    opacity: 0.3;
}

.chatContainer :global(.str-chat__message-input-inner) button {
    position: absolute !important;
    right: 10px !important;
}

.chatContainer :global(.str-chat__message-input-inner) svg {
    width: 20px !important;
    height: 20px !important;
}

.chatContainer :global(.str-chat__date-separator) {
    font-size: 10px !important;
    padding: 10px !important;
    user-select: none;
}

.chatContainer :global(.str-chat__typing-indicator) {
    font-size: 10px !important;
    padding: 0 !important;
    padding-inline: 12px !important;
    height: 0 !important;
    user-select: none;
}