@import 'tailwindcss';
@config "../../tailwind.config.mjs";

:root {
  --sb-thumb: #515255;
  --sb-track: #222326;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--sb-track);
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb);
  border-radius: 6px;
}

html {
  background-color: transparent !important;
}

body {
  overflow: hidden;
}

svg {
  outline: none;
}

/* Chatway */

.chatway--frame-container {
  min-width: 550px !important;
  top: 36px !important;
  right: 36px !important;
  left: auto !important;
}
