@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --sb-thumb: #c8c8c8;
    --sb-track: #efefef;
    --a: #666;
    --a-hover: #000;
    --percent: #eeeeee;
    --code: #e9e9e9;
    --borderMax: #1899da;
    --borderMin: #137eb560;
}

.dark {
    --sb-thumb: #303030;
    --sb-track: #1c1c1c;
    --a: #888;
    --a-hover: #fff;
    --percent: #1c1c1c;
    --code: #2d2d2d;
    --borderMax: #fff;
    --borderMin: #ffffff60;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--sb-track);
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb);
}

.notifications::-webkit-scrollbar {
    width: 10px;
}

.notifications::-webkit-scrollbar-track {
    background: var(--sb-track);
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.notifications::-webkit-scrollbar-thumb {
    background: var(--sb-thumb);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

html {
    background-color: transparent !important;
}

body {
    overflow: hidden;
}

@keyframes pulse-border {
    0% {
      border-color: var(--borderMin);
    }
    50% {
      border-color: var(--borderMax);
    }
    100% {
      border-color: var(--borderMin);
    }
  }
  
  .pulse-border {
    animation: pulse-border 1.5s infinite;
  }