@import 'tailwindcss';
@config "../../tailwind.config.mjs";

:root {
  --sb-thumb: #515255;
  --sb-track: #222326;
  --gradient-bg: linear-gradient(to bottom, #171717ff 0%, #070707ff 100%);
  --gradient-alt: linear-gradient(to bottom, #171717ff 0%, #0c0c0cff 100%);
  --gradient-btn: linear-gradient(
    100deg,
    #154d66ff 0%,
    #227ca5ff 40%,
    #2eabe5ff 70%,
    #34bfffff 100%
  );
}

/* // Themes */
.dark {
  --gradient-bg: linear-gradient(to bottom, #171717ff 0%, #070707ff 100%);
  --gradient-alt: linear-gradient(to bottom, #171717ff 0%, #0c0c0cff 100%);
  --gradient-btn: linear-gradient(
    100deg,
    #154d66ff 0%,
    #227ca5ff 40%,
    #2eabe5ff 70%,
    #34bfffff 100%
  );
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--sb-track);
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb);
  border-radius: 6px;
}

html {
  background-color: transparent !important;
}

body {
  overflow: hidden;
}

svg {
  outline: none;
}

/* Chatway */

.chatway--frame-container {
  min-width: 550px !important;
  top: 36px !important;
  right: 36px !important;
  left: auto !important;
}
