name: Auto-assign reviewers
on: pull_request

permissions:
  pull-requests: write
  contents: read

jobs:
  add-reviews:
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v2.0.1